@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size:10px;
  font-family:'Montserrat', sans-serif;
}
a{
  text-decoration:none;
}
.container{
  min-height:100vh;
  width:100%;
  display:flex;
  align-items: center;
  justify-content:center;
}

#hero{
  background-image: url(./img/photos.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index:1;
}
#hero::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color:black;
  opacity: .7;
  z-index:-1;
}
#hero .hero{
  max-width:1200px;
  margin:0 auto;
  padding:0 50px;
  justify-content:flex-start;
}
#hero h1{
  display: block;
  width: fit-content;
  font-size:3.5rem;
  position: relative;
  color: transparent;
  animation:text_reveal .5s ease forwards;
  animation-delay: 1.5s;
}
#hero h1.la{
  margin-bottom: 80px;
}

#hero h1:nth-child(1){
  animation-delay: 1.5s;
}
#hero h1:nth-child(2){
  animation-delay: 2.5s;
}
#hero h1:nth-child(3){
  animation-delay: 3.5s;
}
#hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color:crimson;
  animation:text_reveal_box 1s ease;
  animation-delay: 1s;
}
#hero h1:nth-child(1) span{
  animation-delay: 1s;
}
#hero h1:nth-child(2) span{
  animation-delay: 2s;
}
#hero h1:nth-child(3) span{
  animation-delay: 3s;
}
#hero .cta{
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border:2px solid white;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  margin-top:30px;
  margin-right: 10px;
  transition: .3s ease;
  transition-property: background-color, color;

}
#hero .HIRE{
  color: white;
  padding: 10px 30px;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  margin-top:30px;
  background-color: crimson;
  border:2px solid crimson;
  margin-top:30px;
  margin-right: 10px;
  border-radius: 3px;
}
#hero .HIRE:hover{
  background:#F26363;
  color:white;
}

#hero .cta:hover{
  color: black;
  background-color:white;
}


@keyframes text_reveal_box{
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;

  }
}

@keyframes text_reveal{
  100% {
    color: white;
  }
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 15px;
  position: relative;
  cursor:pointer;
  margin-right: 10px;
}
h2{
  color: white;
}
a.act::after{
  content: '';
  position: absolute;
  width:100%;
  height: 0.175rem;
  left:0;
  bottom: 0;
  background:crimson;
  transform:scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s;
}

a.act:hover::after{
  transform:scale(1,1);
}

a.active{
  padding: 10px 30px;
  border-radius: 3px;
  background:crimson;
}

a.active:hover{
  background:#F26363;
  color:white;
}

.checkbtn{
  font-size:30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  nav ul li a{
    font-size: 15px;
  }
}
@media (max-width: 952px){
  .checkbtn{
    display: block;
  }
  ul{
    position:fixed;
    width:100%;
    height:100vh;
    color:transparent;
    top:80px;
    left:-100%;
    text-align:center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover{
    background:none;
    color:#B3B3B3;
  }
  #check: checked ~ ul{
    left:0;
  }
}
